<article class="article">
  <header>
    <h2 class="article__title"><a class="article__title-link" href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="article__meta">
      Posted on
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        {{ .Date.Format "Jan 2, 2006" }}
      </time>
    </p>
  </header>
  <div class="article__summary">
    {{ .Summary | plainify | safeHTML }}
  </div>
  {{ if .Truncated }}
  <a href="{{ .Permalink }}" class="article__btn">Read more</a></li>
  {{ end }}
</article>
